<!DOCTYPE html>
<html lang="en">

<head>
    <title>OMERO-ImJoy</title>

    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="description" content="ImJoy -- Deep Learning Made Easy!" />
    <meta name="author" content="Wei OUYANG" />
    <meta name="keywords" content="Bioimaging, image processing" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@weioyang" />
    <meta name="twitter:creator" content="@weioyang" />
    <meta name="twitter:image" content="https://imjoy.io/static/img/imjoy-card-plain.png" />
    <meta property="og:url" content="https://imjoy.io" />
    <meta property="og:title" content="ImJoy" />
    <meta property="og:description" content="ImJoy -- Deep Learning Made Easy!" />
    <meta property="og:image" content="https://imjoy.io/static/img/imjoy-card-plain.png" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://imjoy.io/static/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="https://imjoy.io/static/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://imjoy.io/static/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://imjoy.io/static/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://imjoy.io/static/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://imjoy.io/static/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://imjoy.io/static/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://imjoy.io/static/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://imjoy.io/static/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="https://imjoy.io/static/icons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://imjoy.io/static/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="https://imjoy.io/static/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://imjoy.io/static/icons/favicon-16x16.png" />
    <link rel="shortcut icon" href="static/icons/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-startup-image" href="/launch.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="msapplication-TileColor" content="#f5f9ff" />
    <meta name="msapplication-TileImage" content="static/icons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#f5f9ff" />

    <script src="https://lib.imjoy.io/imjoy-loader.js"></script>
    <link rel="stylesheet" href="https://lib.imjoy.io/static/joy.css" />
    <link rel="stylesheet" href="https://static.imjoy.io/spectre.css/spectre.min.css" />
    <link rel="stylesheet" href="https://static.imjoy.io/spectre.css/spectre-exp.min.css" />
    <link rel="stylesheet" href="https://static.imjoy.io/spectre.css/spectre-icons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translate3d(0, 0, 0);
            /* Disables pull-to-refresh but allows overscroll glow effects. */
            overscroll-behavior-y: contain;
            overscroll-behavior-x: none;
            position: fixed;
            overflow-wrap: break-word;
        }

        .navbar .navbar-brand {
            font-size: 1.2rem;
        }

        .whiteboard {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            min-height: 50vh;
        }

        .window_id {
            width: 100%;
            height: 100%;
        }

        .site-title-small {
            vertical-align: bottom;
            margin-left: 3px;
            height: 32px;
        }

        .pointer {
            cursor: pointer;
        }

        #empty-img {
            width: 128px;
            position: absolute !important;
            left: calc(50% - 64px) !important;
            top: calc(40% - 64px) !important;
        }

        .floating {
            position: absolute !important;
            left: calc(50% - 2px) !important;
            top: calc(39% - 100px) !important;
            z-index: 999;
        }

        #windows-menu {
            position: absolute;
            top: 3px;
            right: 3px;
        }

        .more-btn {
            border: transparent;
            background-color: transparent;
        }

        .more-btn:hover {
            border: #0a52eeea;
            background-color: #ffffff91;
        }
    </style>
</head>

<body>
    <div class="modal" id="dialog-container">
        <a href="#" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" class="btn btn-clear float-right" aria-label="Close" onclick="closeDialog()"></a>
                <div class="modal-title h5" id="window-dialog-title">Dialog</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div id="window-dialog-container"></div>
                </div>
            </div>
        </div>
    </div>
    <header class="navbar">
        <section class="navbar-section" id="logo">
            <a href="/">
                <img class="site-title-small" src="https://imjoy.io/static/img/imjoy-logo-black.svg" alt="ImJoy" />
            </a>
            <!-- <a href="https://imjoy.io/docs" target="_blank" class="btn btn-link">Docs</a>
            <a href="https://github.com/imjoy-team/ImJoy" target="_blank" class="btn btn-link">GitHub</a> -->
        </section>
        <section class="navbar-section" id="windows-menu" style="flex: 0 1 0;">
            <div class="dropdown dropdown-right">
                <a class="btn btn-sm more-btn dropdown-toggle" tabindex="0"><i class="icon icon-more-horiz"></i></a>
                <ul class="menu" id="plugin-menu"></ul>
            </div>
        </section>
        <progress class="progress" style="display: none;" id="progress" value="100" max="100"></progress>
    </header>
    <div class="loading loading-lg floating" id="loading"></div>
    <div class="whiteboard" id="whiteboard">
        <img src="https://imjoy.io/static/img/imjoy-io-icon.svg" id="empty-img" />
    </div>

    <script>
        function openDialog() {
            document.getElementById("dialog-container").classList.add("active");
        }

        function closeDialog() {
            document.getElementById("dialog-container").classList.remove("active");
        }

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
            var results = regex.exec(location.search);
            return results === null
                ? ""
                : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        // get URL param as list. e.g. ?open=1&open=2
        function getUrlParameterList(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp(name + "=([^#]*)");
            var results = location.search.slice(1).split('&')
                .map(search => regex.exec(search))
                .filter(Boolean)
                .map(r => r[1].replace(/\+/g, " "));
            return results;
        }
        var windows = {};
        function addWindow(w) {
            windows = windows || {};
            windows[w.window_id] = w;
            var title = w.name,
                id = w.window_id;
            document.getElementById("windows-menu").innerHTML =
                `
            <span class="chip pointer window-chip" id="header_${id}" onclick="selectWindow('${id}')">
                ${title}
                <a href="#" onclick="removeWindow('${id}')" class="btn btn-clear" aria-label="Close" role="button"></a>
            </span>` + document.getElementById("windows-menu").innerHTML;

            document.getElementById("whiteboard").innerHTML =
                `
                <div class="window_id" id="${id}"></div>
            ` + document.getElementById("whiteboard").innerHTML;
            window.onresize();
            updateWindowChips();
            selectWindow(id);
        }

        function updateWindowChips() {
            // only display when there is more than one window open
            if (Object.keys(windows).length > 1) {
                var ws = document.querySelectorAll(".window-chip");
                for (let w of ws) {
                    w.style.display = "inline-flex";
                }
            } else {
                const keys = Object.keys(windows);
                if (
                    keys.length >= 1 &&
                    (windows[keys[0]].standalone || windows[keys[0]].fullscreen)
                )
                    var ws = document.querySelectorAll(".window-chip");
                if (ws) {
                    for (let w of ws) {
                        w.style.display = "none";
                    }
                }
            }
        }

        async function removeWindow(id) {
            if (windows[id]) {
                try {
                    await windows[id].close();
                } finally {
                    delete windows[id];
                    updateWindowChips();
                }
            }
            document
                .getElementById("windows-menu")
                .removeChild(document.getElementById("header_" + id));
            document
                .getElementById("whiteboard")
                .removeChild(document.getElementById(id));
            if (document.getElementById("whiteboard").children.length === 1) {
                document.getElementById("empty-img").style.display = "block";
            }
        }

        function selectWindow(id) {
            if (!document.getElementById(id)) return;
            for (let c of document.getElementById("whiteboard").children) {
                if (c.id !== "site-title") {
                    c.style.display = "none";
                }
            }
            for (let c of document.getElementById("windows-menu").children)
                c.classList.remove("active");
            selected_window = id;
            document.getElementById(id).style.display = "block";
            document.getElementById("header_" + id).classList.add("active");
        }

        var selected_window = null;
        var imjoy = null;

        var imjoy_api = {
            showMessage(plugin, info, duration) {
                console.log(info);
            },
            showProgress(plugin, progress) {
                if (progress < 1) progress = progress * 100;
                document.getElementById("progress").value = progress;
                if (progress <= 0) {
                    document.getElementById("progress").style.display = "none";
                } else {
                    document.getElementById("progress").style.display = "block";
                }
            },
            showDialog(_plugin, config) {
                return new Promise((resolve, reject) => {
                    document.getElementById("window-dialog-container").innerHTML = "";
                    if (config.ui) {
                        openDialog();
                        const joy_config = {
                            container: document.getElementById("window-dialog-container"),
                            init: config.ui || "", //"{id:'localizationWorkflow', type:'ops'} " + // a list of ops
                            data: config.data, // || Joy.loadFromURL(),
                            modules: config.modules || ["instructions", "math"],
                            onexecute: config.onexecute,
                            onupdate: config.onupdate,
                        };
                        try {
                            new imjoyCore.Joy(joy_config);
                        } catch (e) {
                            console.error("error occured when loading the workflow", e);
                            joy_config.data = "";
                            new imjoyCore.Joy(joy_config);
                            throw e;
                        }
                    } else if (config.type) {
                        openDialog();
                        config.window_id = "window-dialog-container";
                        config.standalone = true;
                        if (config.type.startsWith("imjoy/")) {
                            config.render = wconfig => { };
                        }
                        setTimeout(() => {
                            imjoy.pm
                                .createWindow(null, config)
                                .then(api => {
                                    const _close = api.close;
                                    api.close = async () => {
                                        await _close();
                                        closeDialog();
                                    };
                                    resolve(api);
                                })
                                .catch(reject);
                        }, 0);
                    } else {
                        alert("Unsupported dialog type.");
                    }
                });
            },
        };

        document.addEventListener("DOMContentLoaded", async event => {
            // pin the version
            window.imjoyCore = await loadImJoyCore({ version: "0.13.60" });
            imjoy = new imjoyCore.ImJoy({
                imjoy_api: imjoy_api,
            });
            imjoy.event_bus.on("show_message", msg => {
                console.log(msg);
            });
            imjoy.event_bus.on("add_window", async w => {
                if (w.fullscreen || w.standalone) {
                    document.querySelector(".navbar").style.height = "2px";
                    document.getElementById("logo").style.display = "none";
                    // document.getElementById("windows-menu").style.display = "none";
                } else {
                    document.querySelector(".navbar").style.height = "32px";
                    document.getElementById("logo").style.display = "flex";
                }
                addWindow(w);
            });
            const workspace = getUrlParameter("workspace") || getUrlParameter("w");
            const token = getUrlParameter("token") || getUrlParameter("t");
            const engine = getUrlParameter("engine") || getUrlParameter("e");


            await imjoy.start({ workspace: workspace });
            console.log("ImJoy started: ", imjoy);
            let p = getUrlParameter("plugin") || getUrlParameter("p");
            console.log({p, workspace});
            if (!p && workspace) {
                document.getElementById("loading").style.display = "none";
                return;
            }
            window.loadPlugin = function(p) {
                if (!p)
                    p = prompt(
                    `Please type a ImJoy plugin URI to start or pass it with ${window
                        .location.href + "?plugin=PLUGIN_URI"}`,
                    ""
                    );
                if (!p) return;
                document.getElementById("loading").style.display = "block";
                imjoy.pm
                    .reloadPluginRecursively({ uri: p })
                    .then(async plugin => {
                    let config = {};
                    if (plugin.config.ui && plugin.config.ui.indexOf("{") > -1) {
                        config = await imjoy.pm.imjoy_api.showDialog(
                        plugin,
                        plugin.config
                        );
                    }
                    await plugin.api.run({ config: config, data: {} });
                    document.getElementById("loading").style.display = "none";
                    })
                    .catch(e => {
                    console.error(e);
                    alert(`failed to load the plugin, error: ${e}`);
                    document.getElementById("loading").style.display = "none";
                    });
            };

            if (engine) {
                try {
                    console.log("Loading Jupyter-Engine-Manager from Gist...");
                    await imjoy.pm.reloadPluginRecursively({
                        uri:
                            "https://imjoy-team.github.io/jupyter-engine-manager/Jupyter-Engine-Manager.imjoy.html",
                    });
                    console.log("Jupyter-Engine-Manager loaded.");
                    const factory = imjoy.em.getFactory("Jupyter-Engine");
                    await factory.addEngine({ url: engine, token: token });
                    console.log("plugin engine added:", engine);
                } catch (e) {
                    console.error(e);
                    alert(`Failed to connect to the engine: ${e}`);
                }
            }

            if (p) {
                window.loadPlugin(p);
            }

            imjoy.event_bus.on("plugin_loaded", plugin => {
                //reload the plugin menu
                var plugin_menu = document.getElementById("plugin-menu");
                plugin_menu.innerHTML = "";
                for (let pn in imjoy.pm.plugin_names) {
                    plugin_menu.innerHTML =
                        `
                    <li class="menu-item"><a href="#" onclick='runPlugin("${pn.replaceAll("'", "`")}")'>${pn}</a></li>
                    ` + plugin_menu.innerHTML;
                }
                plugin_menu.innerHTML =
                    plugin_menu.innerHTML +
                    '<li class="menu-item"><a href="#" onclick="loadPlugin()"><i class="icon icon-plus"></i>&nbsp;Load Plugin</a></li>';
                plugin_menu.innerHTML =
                    plugin_menu.innerHTML +
                    '<li class="menu-item"><a href="#" onclick="window.onresize()"><i class="icon icon-stop"></i>&nbsp;Cancel</a></li>';
            });

            window.runPlugin = name => {
                imjoy.pm.plugin_names[name.replaceAll("`", "'")].api.run({ config: {}, data: {} });
            };


            let loadPlane = function(url) {
                return new Promise((resolve, reject) => {
                    const img = new Image();
                    img.addEventListener('load', function () {
                        console.log('loaded event...')
                        const canvas = document.createElement('canvas')
                        canvas.width = img.width
                        canvas.height = img.height
                        const ctx = canvas.getContext('2d');
                        ctx.drawImage(img, 0, 0, img.width, img.height);
                        const imageData = ctx.getImageData(0, 0, img.width, img.height);
                        const rgbaData = imageData.data;  // ArrayBuffer
                        // convert RGBA to RGB
                        const rgbData = new Uint8Array(new ArrayBuffer(img.height * img.width * 3))
                        for (let i = 0; i < img.height; i++) {
                            for (let j = 0; j < img.width; j++) {
                                const pos = i * img.width + j;
                                rgbData[pos * 3] = rgbaData[pos * 4]
                                rgbData[pos * 3 + 1] = rgbaData[pos * 4 + 1]
                                rgbData[pos * 3 + 2] = rgbaData[pos * 4 + 2]
                            }
                        }
                        resolve([rgbData, img.height, img.width]);
                    }, false);
                    img.src = url;
                });
            }

            async function fetchJSON(url) {
                const response = await fetch(url);
                const data = await response.json();
                return data;
            }

            function getBaseUrl() {
                return window.location.href.split('/imjoy/')[0];
            }

            function range(length) {
                return Array.from({ length }, (_, i) => i);
            }

            function getPlaneUrl(imageId, z, t) {
                return getBaseUrl() + `/webclient/render_image/${imageId}/${z}/${t}/`;
            }

            function mergeArrays(arrays) {
                // Get the total length of all arrays.
                let length = 0;
                arrays.forEach(item => {
                    length += item.length;
                });

                // Create a new array with total length and merge all source arrays.
                let mergedArray = new Uint8Array(length);
                let offset = 0;
                arrays.forEach(item => {
                    mergedArray.set(item, offset);
                    offset += item.length;
                });
                return mergedArray;
            }

            async function handleImageIds(image_ids) {
                    // image_ids.forEach((image_id) => {
                    const image_id = image_ids[0];
                    console.log('image_id', image_id);
                    // Load image json...
                    const url = getBaseUrl() + `/webclient/imgData/${image_id}/`
                    const imgData = await fetchJSON(url);
                    console.log(imgData);

                    const ij = await imjoy.pm.imjoy_api.createWindow(null, { src: "https://ij.imjoy.io" })

                    async function saveImage() {
                        console.log("saveImage...");
                        const img = await ij.getImage({format: 'ndarray', all: true})
                        console.log('img', img);
                        // img {_rtype: "ndarray", _rvalue: ArrayBuffer(281880), _rshape: Array(3), _rdtype: "uint8"}
                    }
                    ij.addMenuItem({"label": "Save Image to OMERO", "callback": saveImage})

                    const sizeX = imgData.size.width;
                    const sizeY = imgData.size.height;
                    const sizeZ = imgData.size.z;
                    const sizeT = imgData.size.t;
                    console.log('sizeZ', sizeZ);
                    console.log('sizeT', sizeT);
                    if (sizeZ > 1 && sizeT > 1) {
                        // Doesn't seem to work if you pass a 5D array to ij.viewImage()
                        alert("Multi-Z AND Multi-T not yet working.")
                        return;
                    }
                    const stackSize = (sizeZ > 1) ? sizeZ : sizeT;
                    // load each Z/T plane
                    const planeUrls = range(sizeT).flatMap(t => range(sizeZ).map(z => getPlaneUrl(image_id, z, t)));
                    console.log('Loading planes...', planeUrls[0], '....', planeUrls[planeUrls.length-1]);
                    const promises = planeUrls.map(url => loadPlane(url));
                    Promise.all(promises).then((planes) => {
                        // concatenate arrays....
                        const planeData = planes.map(p => p[0]);
                        console.log('loaded', planeData.length, 'planes');
                        const stackedPlanes = mergeArrays(planeData);
                        console.log('stackedPlanes', stackedPlanes.length);

                        ij.viewImage({ _rtype: 'ndarray', _rdtype: 'uint8', _rshape: [stackSize, sizeY, sizeX, 3], _rvalue: stackedPlanes.buffer });
                        document.getElementById("loading").style.display = "none";
                    });
                // });
            }

            // Always load ImageJ.JS...
            // const ij = await imjoy.pm.imjoy_api.createWindow(null, { src: "https://ij.imjoy.io" })

            // Use ?image=1 to open an OMERO Image
            const image_ids = getUrlParameterList("image");

            if (image_ids.length > 0) {
                handleImageIds(image_ids);
            }

            // Use ?open=image_url with a full path to a rgb image
            const open_images = getUrlParameterList("open");
            if (open_images.length > 0) {
                // Here we will calll the imjoy api directly from the core
                // In this case, the first argument should be the caller plugin or null
                // const ij = await imjoy.pm.imjoy_api.createWindow(null, { src: "https://ij.imjoy.io" })

                open_images.forEach(open_image => {

                    loadPlane(open_image).then(imgData => {
                        const rgbData = imgData[0];
                        const height = imgData[1];
                        const width = imgData[2];
                        console.log('rgbData loaded...');
                        ij.viewImage({ _rtype: 'ndarray', _rdtype: 'uint8', _rshape: [height, width, 3], _rvalue: rgbData.buffer });
                        document.getElementById("loading").style.display = "none";
                    });
                });
            }
            else {
                document.getElementById("loading").style.display = "none";
            }
        });
        // fix mobile display
        window.onresize = () => {
            document.body.height = window.innerHeight;
            document
                .getElementById("whiteboard")
                .style.setProperty("height", window.innerHeight + "px", "important");
        };
        window.onresize();
    </script>

</body>

</html>